
@{
    ViewData["Title"] = "Author Page";
    var bannerHeading = "Our Authors";
}

<partial name="_BannerTemplate" model="bannerHeading" />
<div class="container my-3">
    <div class="row mt-3" id="authorsCont">
        @foreach (var author in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@author.AuthorImage" class="img-fluid" alt="@author.Title" />
                    <div class="card-body">
                        <h5 class="card-title">@author.Title</h5>
                        <p class="card-text">@author.Description.Substring(0, 99)...</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn w-100 btn-primary" data-toggle="modal" data-target="#authorModal"
                            data-title="@author.Title"
                            data-description="@author.Description"
                            data-image="@author.AuthorImage">
                            More About @author.Title
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="authorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" class="img-fluid mb-3" alt="Author Image" />
                <p id="modalDescription"></p>
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="mx-2">
                        <a href="https://www.facebook.com/" class="btn btn-primary rounded-circle" style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                            <i class="fab fa-facebook-f text-white"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.x.com/" class="btn btn-info rounded-circle" style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                            <i class="fab fa-twitter text-white"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.instagram.com/" class="btn btn-danger rounded-circle" style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                            <i class="fab fa-instagram text-white"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://linkedin.com/" class="btn btn-primary rounded-circle" style="width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                            <i class="fab fa-linkedin-in text-white"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $('#authorModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var title = button.data('title');
            var description = button.data('description');
            var image = button.data('image');

            var modal = $(this);
            modal.find('#modalTitle').text(title);
            modal.find('#modalDescription').text(description);
            modal.find('#modalImage').attr('src', image);
        });
    });
    // Function to open the modal and populate it with the selected author's details
    function openModal(title, description, imageUrl) {
        // Set the content of the modal dynamically
        document.getElementById('authorTitle').innerText = title;
        document.getElementById('authorDescription').innerText = description;
        document.getElementById('authorImage').src = imageUrl;

        // Show the modal
        var myModal = new bootstrap.Modal(document.getElementById('authorModal'));
        myModal.show();
    }

    // Search functionality to filter authors
    function searchAuthors() {
        var input, filter, container, items, title, description, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        container = document.getElementById("authorsCont");
        items = container.getElementsByClassName('author-item');

        for (i = 0; i < items.length; i++) {
            title = items[i].getElementsByClassName("card-title")[0];
            description = items[i].getElementsByClassName("card-text")[0];
            if (title || description) {
                txtValue = title.textContent || title.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    items[i].style.display = "";
                } else {
                    items[i].style.display = "none";
                }
            }
        }
    }
</script>
