@{
    ViewData["Title"] = "Blog Page";
    var bannerHeading = "Our Blogs";
}

<partial name="_BannerTemplate" model="bannerHeading" />
<div class="container mt-5">
    @foreach (var bblog in Model)
    {
        <div class="row mb-5">
            <div class="col-lg-5">
                <img src="@bblog.BlogImage" class="card-img-top" style="height: 250px; object-fit: cover;" alt="@bblog.Title" />
            </div>
            <div class="col-lg-7 border-bottom">
                <h5 class="card-title">@bblog.Title</h5>
                <p class="card-text">@bblog.Description</p>
                <p class="card-text text-muted"><small>@bblog.CreatedAt.ToString("yyyy-MM-dd HH:mm")</small></p>
            </div>
        </div>
    }
</div>
